# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store
.idea/
.vscode/
*exvim*
*vendor*
*go.sum

node_modules/
npm-debug.log
yarn-error.log
package-lock.json

vender/
log/
bin/
cbuild
config.yaml
main

_PERSISTENT_/