# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store
.idea/
.vscode/
*exvim*
*vendor*

# ent 仅保留schema文件目录和generate/entc文件
**/ent/*
!**/ent/schema
!**/ent/generate.go
!**/ent/entc.go

# frontend
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# backend
vender/
log/
bin/
cbuild
config.yaml
main

# app
li-app/tmp/
li-app/*go.sum
_PERSISTENT_/