{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "import/additional/lient" }}
    "context"
	"github.com/BeanWei/li/li-engine/view"
	"github.com/BeanWei/li/li-engine/view/node"
    "github.com/BeanWei/li/li-engine/view/ui"
	"github.com/gogf/gf/v2/errors/gcode"
	"github.com/gogf/gf/v2/errors/gerror"
    "github.com/gogf/gf/v2/util/gconv"
{{ end }}