{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "meta/additional/lient-node" }}
{{- range $f := $.Fields }}
    {{- if $annotation := $f.Annotations.LiEnt }}
        {{- if $annotation.ViewSchema }}
            {{- if $annotation.ViewSchema.title }}
            const Node{{ $f.StructField }}Title = "{{ $annotation.ViewSchema.title }}"
            {{- else }}
            const Node{{ $f.StructField }}Title = "{{ title $f.StructField }}"
            {{- end }}
            func Node{{ $f.StructField }}() *node.NodeBuilder {
                var schema *ui.Schema
                if err := gconv.Struct({{ valast $annotation.ViewSchema }}, &schema); err != nil {
                    panic(err)
                }
                if schema.Name == "" {
                    schema.Name = "{{ if $annotation.ViewSchema.name }}{{ $annotation.ViewSchema.name }}{{ else }}{{ $f.StorageKey }}{{ end }}"
                }
                if schema.Title == "" {
                    schema.Title = Node{{ $f.StructField }}Title
                }
                return node.Node(schema.Name).SetSchema(schema)
            }
        {{- end }}
    {{- end }}
{{- end }}
{{ end }}