{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "meta/additional/lient-node" }}
{{- range $f := $.Fields }}
    {{- if $annotation := $f.Annotations.LiEnt }}
        {{- if $annotation.View }}
            func Node{{ $f.StructField }}() *node.NodeBuilder {
                var schema *ui.Schema
                if err := gconv.Struct({{ valast $annotation.View }}, &schema); err != nil {
                    panic(err)
                }
                if schema.Name == "" {
                    schema.Name = "{{ if $annotation.View.name }}{{ $annotation.View.name }}{{ else }}{{ $f.StorageKey }}{{ end }}"
                }
                return node.Node(schema.Name).SetSchema(schema)
            }
        {{- end }}
    {{- end }}
{{- end }}
{{ end }}