{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "model/additional/lient-view" }}
{{- $searchable := false }}
func Create{{ $.Name }}FormView() view.Node {
	return node.FormGrid("grid").MaxColumns(2).Children(
		{{- range $f := $.Fields }}
			{{- if $annotation := $f.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableCreate) }}
					{{- if $annotation.Edge }}
					{{ $.Package }}.Node{{ $annotation.Edge.StructField }}().SetAC({{ $.Package }}ViewACL["create:{{ $annotation.Edge.Name }}"]){{- if contains $annotation.ValidateRule "required" }}.SetRequired(true){{- end }},
					{{- else }}
					{{ $.Package }}.Node{{ $f.StructField }}().SetAC({{ $.Package }}ViewACL["create:{{ $f.Name }}"]){{- if contains $annotation.ValidateRule "required" }}.SetRequired(true){{- end }},
					{{- end }}
				{{- end }}
				{{- if and (not $searchable) $annotation $annotation.Queryable }}
					{{- $searchable = true }}
				{{- end }}
			{{- end }}
		{{- end }}
		{{- range $e := $.Edges }}
			{{- if $annotation := $e.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableCreate) }}
					{{ $.Package }}.Node{{ $e.StructField }}().SetAC({{ $.Package }}ViewACL["create:{{ $e.Name }}"]){{ if not $e.Optional }}.SetRequired(true){{ end }},
				{{- end }}
			{{- end }}
		{{- end }}
	)
}

func Read{{ $.Name }}FormView() view.Node {
	return node.FormGrid("grid").MaxColumns(2).Children(
		{{- range $f := $.Fields }}
			{{- if $annotation := $f.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableRead) }}
					{{- if $annotation.Edge }}
					{{ $.Package }}.Node{{ $annotation.Edge.StructField }}().SetAC({{ $.Package }}ViewACL["read:{{ $annotation.Edge.Name }}"]),
					{{- else }}
					{{ $.Package }}.Node{{ $f.StructField }}().SetAC({{ $.Package }}ViewACL["read:{{ $f.Name }}"]),
					{{- end }}
				{{- end }}
			{{- end }}
		{{- end }}
		{{- range $e := $.Edges }}
			{{- if $annotation := $e.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableRead) }}
					{{ $.Package }}.Node{{ $e.StructField }}().SetAC({{ $.Package }}ViewACL["read:{{ $e.Name }}"]),
				{{- end }}
			{{- end }}
		{{- end }}
	)
}

func Update{{ $.Name }}FormView() view.Node {
	return node.FormGrid("grid").MaxColumns(2).Children(
		{{- range $f := $.Fields }}
			{{- if $annotation := $f.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableUpdate) }}
					{{- if $annotation.Edge }}
					{{ $.Package }}.Node{{ $annotation.Edge.StructField }}().SetAC({{ $.Package }}ViewACL["update:{{ $annotation.Edge.Name }}"]){{- if contains $annotation.ValidateRule "required" }}.SetRequired(true){{- end }},
					{{- else }}
					{{ $.Package }}.Node{{ $f.StructField }}().SetAC({{ $.Package }}ViewACL["update:{{ $f.Name }}"]){{- if contains $annotation.ValidateRule "required" }}.SetRequired(true){{- end }},
					{{- end }}
				{{- end }}
			{{- end }}
		{{- end }}
		{{- range $e := $.Edges }}
			{{- if $annotation := $e.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableUpdate) }}
					{{ $.Package }}.Node{{ $e.StructField }}().SetAC({{ $.Package }}ViewACL["update:{{ $e.Name }}"]){{ if not $e.Optional }}.SetRequired(true){{ end }},
				{{- end }}
			{{- end }}
		{{- end }}
	)
}

func List{{ $.Name }}TableColumns() []view.Node {
	return []view.Node{
		{{- range $i, $f := $.Fields }}
			{{- if not $f.Sensitive }}
			{{- if $annotation := $f.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableRead) (not (isNil $annotation.ColumnProps)) }}
					{{- if $annotation.Edge }}
					node.ListTableColumn("column{{ $i }}").
						Title({{ $.Package }}.Node{{ $annotation.Edge.StructField }}Title).
						AC({{ $.Package }}ViewACL["read:{{ $annotation.Edge.Name }}"]).
						DataIndex("{{ $annotation.Edge.Name }}").
						{{- if $annotation.ColumnProps.Align }}Align("{{ $annotation.ColumnProps.Align }}").{{- end }}
						{{- if $annotation.ColumnProps.Ellipsis }}Ellipsis(true).{{- end }}
						{{- if $annotation.ColumnProps.Width }}Width({{ $annotation.ColumnProps.Width }}).{{- end }}
						{{- if $annotation.ColumnProps.Filterable }}Filterable(true).{{- end }}
						{{- if $annotation.ColumnProps.Sortable }}Sortable(true).{{- end }}
						{{- if $annotation.ColumnProps.HideInTable }}HideInTable(true).{{- end }}
						{{- if $annotation.ColumnProps.Order }}Order({{ $annotation.ColumnProps.Order }}).{{- end }}
						Render({{ $.Package }}.Node{{ $annotation.Edge.StructField }}()),
					{{- else }}
					node.ListTableColumn("column{{ $i }}").
						Title({{ $.Package }}.Node{{ $f.StructField }}Title).
						AC({{ $.Package }}ViewACL["read:{{ $f.Name }}"]).
						DataIndex("{{ $f.Name }}").
						{{- if $annotation.ColumnProps.Align }}Align("{{ $annotation.ColumnProps.Align }}").{{- end }}
						{{- if $annotation.ColumnProps.Ellipsis }}Ellipsis(true).{{- end }}
						{{- if $annotation.ColumnProps.Width }}Width({{ $annotation.ColumnProps.Width }}).{{- end }}
						{{- if $annotation.ColumnProps.Filterable }}Filterable(true).{{- end }}
						{{- if $annotation.ColumnProps.Sortable }}Sortable(true).{{- end }}
						{{- if $annotation.ColumnProps.HideInTable }}HideInTable(true).{{- end }}
						{{- if $annotation.ColumnProps.Order }}Order({{ $annotation.ColumnProps.Order }}).{{- end }}
						Render({{ $.Package }}.Node{{ $f.StructField }}()),
					{{- end }}
				{{- end }}
			{{- end }}
			{{- end }}
		{{- end }}
		{{- range $i, $e := $.Edges }}
			{{- if $annotation := $e.Annotations.LiEnt }}
				{{- if and $annotation.ViewSchema (not $annotation.DisableRead) (not (isNil $annotation.ColumnProps)) }}
					node.ListTableColumn("columnEdge{{ $i }}").
						Title({{ $.Package }}.Node{{ $e.StructField }}Title).
						AC({{ $.Package }}ViewACL["read:{{ $e.Name }}"]).
						DataIndex("{{ $e.Name }}").
						{{- if $annotation.ColumnProps.Align }}Align("{{ $annotation.ColumnProps.Align }}").{{- end }}
						{{- if $annotation.ColumnProps.Ellipsis }}Ellipsis(true).{{- end }}
						{{- if $annotation.ColumnProps.Width }}Width({{ $annotation.ColumnProps.Width }}).{{- end }}
						{{- if $annotation.ColumnProps.Filterable }}Filterable(true).{{- end }}
						{{- if $annotation.ColumnProps.Sortable }}Sortable(true).{{- end }}
						{{- if $annotation.ColumnProps.HideInTable }}HideInTable(true).{{- end }}
						{{- if $annotation.ColumnProps.Order }}Order({{ $annotation.ColumnProps.Order }}).{{- end }}
						Render(
							{{ $.Package }}.Node{{ $e.StructField }}().SetAC({{ $.Package }}ViewACL["read:{{ $e.Name }}"]),
						),
				{{- end }}
			{{- end }}
		{{- end }}
	}
}

func List{{ $.Name }}View() view.Node {
	return node.List("{{ $.Package }}List").
		AC({{ $.Package }}ViewACL["list:{{ $.Name }}"]).
		ForInit("@list{{ $.Name }}", List{{ $.Name }}Controller).
		DecoratorCard().
		EnableFilter().
		SelectionMultiple(true).
		Children(
			node.ListTable("{{ $.Package }}ListTable").
				ActionBar(
					node.ListAction("{{ $.Package }}ListActions").Children(
						node.ListActionRecordFormDrawer("add{{ $.Name }}").
							Title("新建").
							AC({{ $.Package }}ViewACL["create:{{ $.Name }}"]).
							ButtonType("primary").
							ButtonIcon("IconPlus").
							ButtonPosition("left").
							Body(Create{{ $.Name }}FormView()).
							Footer(
								node.ActionFormDrawerCancel("cancel"),
								node.ActionFormDrawerSubmit("submit").ForSubmit("@add{{ $.Name }}", Create{{ $.Name }}Controller),
							),
						node.ListActionRowSelection("deleteMany{{ $.Name }}").
							Title("删除").
							AC({{ $.Package }}ViewACL["deleteMany:{{ $.Name }}"]).
							ForSubmit("@deleteMany{{ $.Name }}", DeleteMany{{ $.Name }}Controller).
							AfterReload(true).
							ConfirmTitle("确认删除").
							ButtonStatus("danger").
							ButtonIcon("IconDelete").
							ButtonPosition("left"),
						{{- if $searchable }}
							node.ListActionSearch("search{{ $.Name }}"),
						{{- end }}
					),
				).
				Columns(
					append(
						List{{ $.Name }}TableColumns(),
						node.ListTableColumn("columnAction").
							Title("操作").
							DataIndex("__action").
							Width(150).
							Render(
								node.Space("actions").Size(0).SplitByDivider().Children(
									node.ListActionRecordFormDrawer("view").
										AC({{ $.Package }}ViewACL["get:{{ $.Name }}"]).
										ForInit("@get{{ $.Name }}", Get{{ $.Name }}Controller).
										DrawerTitle("查看").
										ButtonType("text").
										ButtonIcon("IconEye").
										Body(Read{{ $.Name }}FormView()).
										Footer(
											node.ActionFormDrawerCancel("cancel"),
										),
									node.ListActionRecordFormDrawer("edit").
										AC({{ $.Package }}ViewACL["update:{{ $.Name }}"]).
										ForInit("@get{{ $.Name }}", Get{{ $.Name }}Controller).
										DrawerTitle("编辑").
										ButtonType("text").
										ButtonIcon("IconEdit").
										Body(Update{{ $.Name }}FormView()).
										Footer(
											node.ActionFormDrawerCancel("cancel"),
											node.ActionFormDrawerSubmit("submit").
												ForSubmit("@update{{ $.Name }}", Update{{ $.Name }}Controller),
										),
									node.ListActionRecordDelete("delete").
										AC({{ $.Package }}ViewACL["delete:{{ $.Name }}"]).
										ForSubmit("@delete{{ $.Name }}", Delete{{ $.Name }}Controller).
										ButtonType("text").
										ButtonIcon("IconDelete"),
								),
							),
					)...,
				),
		)
}

var {{ $.Package }}ViewACL = map[string]ac.AC{}

func init() {
	rf := reflect.ValueOf(schema.{{ $.Name }}{}).MethodByName("ACL")
	if rf.IsValid() {
		{{ $.Package }}ViewACL, _ = rf.Call([]reflect.Value{})[0].Interface().(map[string]ac.AC)
	}
}
{{ end }}