.li-chartitem-extra-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.1s;
  :hover {
    background-color: rgb(var(--gray-2));
  }
}
