**/*.svg
**/dist
**/lib
**/es
package.json
.umi
.umi-production
dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.gitkeep
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
build
public
*.ejs
assets
